numpy
pandas
scipy
scikit-learn
tqdm
Pillow
seaborn
matplotlib

geopandas
shapely
pyproj
polyline
pybdshadow
openrouteservice

torch
opencv-python
transformers
detectron2

python-dotenv
requests